# Database & Infrastructure Connections
MYSQL_ROOT_PASSWORD=your_secure_root_password_here
MYSQL_DATABASE=yout_db_name
REDIS_CONNECTION_STRING=your_redis_conn_string
RABBITMQ_HOST=rabbitmq_host
RABBITMQ_USER=rabbitmq_user
RABBITMQ_PASS=rabbitmq_pass
RABBITMQ_QUEUE_NAME=rabbitmq_queue_name

# JWT Security Settings
JWT_SECRET_KEY=your_64_character_hex_secret_key_here
JWT_ISSUER=https://localhost:8080
JWT_AUDIENCE=https://localhost:5173
JWT_EXPIRY_MINUTES=60

# File Upload Paths & File config
FILE_STORAGE_ROOT_PATH=/app/Uploads
WORKER_STORAGE_ROOT_PATH=/app/Uploads
FILE_MAX_SIZE_MB=10
ALLOWED_EXT_0=.pdf
ALLOWED_EXT_1=.docx
ALLOWED_EXT_2=.doc
ALLOWED_EXT_3=.txt

TRAINING_DIRECTORY_API_URL=your_inter_service_api_url