FileStorage__RootPath=YOUR_ROOT_PATH
FileStorage__MaxFileSizeMb=MAX_FILE_SIZE_MB
FileStorage__AllowedExtensions__0=.jpg
FileStorage__AllowedExtensions__1=.png

RabbitMq__Host=YOUR_RABBITMQ_HOST
RabbitMq__Port=YOUR_RABBITMQ_PORT
RabbitMq__Username=YOUR_RABBITMQ_USERNAME
RabbitMq__Password=YOUR_RABBITMQ_PASSWORD
RabbitMq__QueueName=YOUR_QUEUE_NAME

ConnectionStrings__DefaultConnection=YOUR_CONNECTION_STRING
