{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "YOUR_DB_CONNECTION_STRING",
    "RedisConnection": "YOUR_REDIS_CONNECTION_STRING"
  },
  "JwtSettings": {
    "SecretKey": "YOUR_JWT_SECRET_KEY",
    "Issuer": "YOUR_JWT_ISSUER",
    "Audience": "YOUR_JWT_AUDIENCE",
    "ExpiryMinutes": "EXPIRY_MINUTES"
  },
  "FileStorage" : {
    "RootPath" : "YOUR_FILE_ROOT_PATH",
    "MaxFileSizeMb": "FILE_MAX_SIZE",
    "AllowedExtensions" : []
  },
  "Redis" : {
    "ConnectionString" : "YOUR_REDIS_CONNECTION_STRING"
  },
  "RabbitMq" : {
    "Host": "YOUR_RABBITMQ_HOST",
    "Port": "YOUR_RABBITMQ_PORT",
    "Username": "YOUR_RABBITMQ_USERNAME",
    "Password": "YOUR_RABBITMQ_PASSWORD",
    "QueueName": "YOUR_QUEUE_NAME"
  },
  "InterserviceUrls": {
    "TraineeDirectory": "YOUR_INTERSERVICE_URL"
  }
}
